.header{
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}
p{
    font-size: 12px;
}
.banner-class{
    height: 170px;
    vertical-align: center;
}
.border-class{
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    text-align: center;  
}